<%- include("../partials/header") %>
  <div class="updateuser">
    <h2>UPDATE YOUR PROFILE</h2>
    <form action="/<%= user._id %>/update?_method=put" method="post">
      <label for="useraddress">Address</label>
      <textarea name="address" id="useraddress" rows="8" cols="80"><%= user.address %></textarea>
      <label for="userpincode">Pincode</label>
      <input type="number" id="userpincode" name="pincode" placeholder="pincode" value="<%= user.pincode %>">
      <label for="userphone">Phone</label>
      <input type="number" id="userphone" name="phone" placeholder="phone" value="<%= user.contact %>">
      <button type="submit">Update</button>
    </form>
  </div>

<%- include("../partials/footer") %>
