<%- include("../partials/header") %>
<div class="userinfo">
  <h3><%= user.username %></h3>
  <hr>
  <% if(user.address != undefined) { %>
    <div id="address">
      <h4>Address:</h4>
      <p><%= user.address %></p>
    </div>
    <div id="pincode">
      <h4>Pincode:</h4>
      <p><%= user.pincode %></p>
    </div>
    <div id="contact">
      <h4>Contact</h4>
      <p>Email: <%= user.email %></p>
      <p>Phone: <%= user.contact %></p>
    </div>
    <p id="profileuppdate"><a href="/<%= user._id %>/update">Update your profile</a></p>
  <% } else { %>
    <p id="profileuppdate"><a href="/<%= user._id %>/update">Update your profile</a></p>
  <% } %>
</div>
<%- include("../partials/footer") %>
