<%- include("../partials/header") %>
<div class="job">
  <h2 class="jobtitle"><%= job.title %></h2>
  <p class="jobdesc"><%= job.description %></p>
  <p class="employer">Posted by: <%= job.creator.username %> on <%= job.date %></p>
</div>
<%- include("../partials/footer") %>
